In [1]:
import numpy as np
import pandas as pd

In [2]:
g1 = pd.DataFrame(np.random.randint(80,100, size=(40000,5)), columns = ["s1",'s2','s3','s4','s5'])
g2 = pd.DataFrame(np.random.randint(70,79, size=(40000,5)), columns = ["s1",'s2','s3','s4','s5'])
g3 = pd.DataFrame(np.random.randint(60,69, size=(40000,5)), columns = ["s1",'s2','s3','s4','s5'])
g4 = pd.DataFrame(np.random.randint(50,59, size=(40000,5)), columns = ["s1",'s2','s3','s4','s5'])
g5 = pd.DataFrame(np.random.randint(40,49, size=(40000,5)), columns = ["s1",'s2','s3','s4','s5'])
g6 = pd.DataFrame(np.random.randint(33,39, size=(800000,5)), columns = ["s1",'s2','s3','s4','s5'])
g7 = pd.DataFrame(np.random.randint(0,32, size=(40000,5)), columns = ["s1",'s2','s3','s4','s5'])

df = pd.concat([g1,g2,g3,g4,g5,g6,g7])
print(len(df))
df = df.drop_duplicates()# get all unique records
print(len(df))
df.head()

1040000
203894

   s1  s2  s3  s4  s5
0  80  88  89  87  87
1  94  89  84  84  80
2  82  98  99  99  91
3  88  94  87  89  88
4  90  89  90  88  97

In [3]:
df.tail()

       s1  s2  s3  s4  s5
39995  11   9  17   8  28
39996  12   8  18  16  17
39997  25  11   5  18   1
39998  16   0   2  26   5
39999  31  19  22  16  20

# Symbolic AI

In [4]:
def grade(sb1,sb2, sb3, sb4, sb5):
    total = 500
    obtain = sb1 + sb2 + sb3 + sb4 + sb5
    per = (obtain / total) * 100
    
    grade = None
    
    if per >= 80:
        grade = "A+"
    elif per >= 70:
        grade = "A"
    elif per >= 60:
        grade = "B"
    elif per >= 50:
        grade = "C"
    elif per >= 40:
        grade = "D"
    elif per >= 33:
        grade = "E"
    else:
        grade = "Fail"
        
    return total, obtain , per , grade

# df[["Total","Obtained","Percentage","Grade"]] = df[["s1","s2","s3","s4","s5"]].apply(lambda x:grade(*x), axis=1, result_type='expand')
df[["Total","Obtained","Percentage","Grade"]] = df[["s1","s2","s3","s4","s5"]].apply(lambda x:grade(x[0],x[1],x[2],x[3],x[4]), axis=1, result_type='expand')
df

       s1  s2  s3  s4  s5  Total  Obtained  Percentage Grade
0      80  88  89  87  87    500       431        86.2    A+
1      94  89  84  84  80    500       431        86.2    A+
2      82  98  99  99  91    500       469        93.8    A+
3      88  94  87  89  88    500       446        89.2    A+
4      90  89  90  88  97    500       454        90.8    A+
...    ..  ..  ..  ..  ..    ...       ...         ...   ...
39995  11   9  17   8  28    500        73        14.6  Fail
39996  12   8  18  16  17    500        71        14.2  Fail
39997  25  11   5  18   1    500        60        12.0  Fail
39998  16   0   2  26   5    500        49         9.8  Fail
39999  31  19  22  16  20    500       108        21.6  Fail

[203894 rows x 9 columns]

In [5]:
df.Grade.value_counts()

Fail    39980
A+      39773
C       29107
A       29098
D       29086
B       29074
E        7776
Name: Grade, dtype: int64

In [6]:
df1 = pd.DataFrame()
test = pd.DataFrame()
for i in df.Grade.unique():
    df1 = pd.concat([df1,df[df.Grade==i].head(7776)])
    test = pd.concat([test,df[df.Grade==i].head(100)])
print(len(df1))
print(len(test))

54432
700

# Create data for ML and DL

In [7]:
data = df1[["s1","s2","s3",'s4','s5','Grade']].copy()
data = data.sample(frac=1)
data

      s1  s2  s3  s4  s5 Grade
6391  73  74  72  74  78     A
971   68  65  64  68  65     B
915   42  43  44  41  45     D
5214  78  77  73  75  74     A
912   44  40  45  47  46     D
...   ..  ..  ..  ..  ..   ...
2305  48  40  40  41  40     D
5778  77  74  73  75  74     A
8209  57  58  53  50  52     C
396   67  60  63  61  63     B
402   37  36  35  37  38     E

[54432 rows x 6 columns]

In [8]:
X = data.loc[:,"s1":"s5"]
X

      s1  s2  s3  s4  s5
6391  73  74  72  74  78
971   68  65  64  68  65
915   42  43  44  41  45
5214  78  77  73  75  74
912   44  40  45  47  46
...   ..  ..  ..  ..  ..
2305  48  40  40  41  40
5778  77  74  73  75  74
8209  57  58  53  50  52
396   67  60  63  61  63
402   37  36  35  37  38

[54432 rows x 5 columns]

In [9]:
Y = data['Grade']
Y

6391    A
971     B
915     D
5214    A
912     D
       ..
2305    D
5778    A
8209    C
396     B
402     E
Name: Grade, Length: 54432, dtype: object

# Why we apply one-hot-encode on multiclass classfication output

A+ = 1
A  = 2
B  = 3
C  = 4
D  = 5
E  = 6
F  = 7



A+ = 7
A  = 6
B  = 5
C  = 4
D  = 3
E  = 2
F  = 1


one-hot-encode
    A B C
A   1 0 0
B   0 1 0
C   0 0 1

In [10]:
Y1 = pd.get_dummies(Y)
Y1

      A  A+  B  C  D  E  Fail
6391  1   0  0  0  0  0     0
971   0   0  1  0  0  0     0
915   0   0  0  0  1  0     0
5214  1   0  0  0  0  0     0
912   0   0  0  0  1  0     0
...  ..  .. .. .. .. ..   ...
2305  0   0  0  0  1  0     0
5778  1   0  0  0  0  0     0
8209  0   0  0  1  0  0     0
396   0   0  1  0  0  0     0
402   0   0  0  0  0  1     0

[54432 rows x 7 columns]

In [11]:
Y1.drop_duplicates()

      A  A+  B  C  D  E  Fail
6391  1   0  0  0  0  0     0
971   0   0  1  0  0  0     0
915   0   0  0  0  1  0     0
1178  0   0  0  1  0  0     0
3     0   1  0  0  0  0     0
1535  0   0  0  0  0  0     1
4200  0   0  0  0  0  1     0

<img src = "https://camo.githubusercontent.com/b58d0e55e0c4746365bcd37b69878387f0b05b3fb79cb4d70d3a50673d0ea8c1/68747470733a2f2f69302e77702e636f6d2f73656d69656e67696e656572696e672e636f6d2f77702d636f6e74656e742f75706c6f6164732f323031382f30312f4d4c7673444c2e706e673f73736c3d31">

# Now apply Deep Learning

In [12]:
import tensorflow as tf

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam, SGD

/home/mqasim/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/mqasim/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/mqasim/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/mqasim/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/mqasim/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/mqasim/anaconda3/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

# Create Model

In [13]:
print(X.head(1).values[0])
print(X.head(1).values[0].shape)

[73 74 72 74 78]
(5,)

# Multi classification problem

In [14]:
model = Sequential()

#               32  = output should be power 2 value 2,4,8,16,32,......
model.add(Dense(32 , activation='relu' ,input_shape=(5,))) #input layer
model.add(Dense(16, activation='relu')) # hidden layer
model.add(Dense(7, activation='softmax'))# outlayer 7= unique output classes, softmax->7 probility this sum always = 1

In [15]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 32)                192
_________________________________________________________________
dense_1 (Dense)              (None, 16)                528
_________________________________________________________________
dense_2 (Dense)              (None, 7)                 119
=================================================================
Total params: 839
Trainable params: 839
Non-trainable params: 0
_________________________________________________________________

# Compilation Steps

In [16]:
model.compile(optimizer=SGD(learning_rate=0.002), 
              loss='categorical_crossentropy',
              metrics=['acc'])

# Now Start Training

In [17]:
model.fit(X,Y1, epochs=80)

Epoch 1/80
1701/1701 [==============================] - 1s 568us/step - loss: 2.2903 - acc: 0.2615 0s - loss: 2.3179 - acc: 0.26
Epoch 2/80
1701/1701 [==============================] - 1s 569us/step - loss: 1.6454 - acc: 0.3150 0s - loss: 1.6522 - a
Epoch 3/80
1701/1701 [==============================] - 1s 553us/step - loss: 1.6012 - acc: 0.3246
Epoch 4/80
1701/1701 [==============================] - 1s 555us/step - loss: 1.5707 - acc: 0.3292
Epoch 5/80
1701/1701 [==============================] - 1s 553us/step - loss: 1.5209 - acc: 0.3286
Epoch 6/80
1701/1701 [==============================] - 1s 565us/step - loss: 1.4359 - acc: 0.3407
Epoch 7/80
1701/1701 [==============================] - 1s 569us/step - loss: 1.3787 - acc: 0.3770
Epoch 8/80
1701/1701 [==============================] - 1s 640us/step - loss: 1.3160 - acc: 0.4151
Epoch 9/80
1701/1701 [==============================] - 1s 557us/step - loss: 1.2723 - acc: 0.4563
Epoch 10/80
1701/1701 [==============================] - 1s 569us/step - loss: 1.2300 - acc: 0.4974
Epoch 11/80
1701/1701 [==============================] - 1s 561us/step - loss: 1.2080 - acc: 0.5380
Epoch 12/80
1701/1701 [==============================] - 1s 570us/step - loss: 1.1765 - acc: 0.5664
Epoch 13/80
1701/1701 [==============================] - 1s 562us/step - loss: 1.1387 - acc: 0.5862
Epoch 14/80
1701/1701 [==============================] - 1s 563us/step - loss: 1.1108 - acc: 0.5999
Epoch 15/80
1701/1701 [==============================] - 1s 580us/step - loss: 1.0774 - acc: 0.6146
Epoch 16/80
1701/1701 [==============================] - 1s 555us/step - loss: 1.0484 - acc: 0.6222
Epoch 17/80
1701/1701 [==============================] - 1s 559us/step - loss: 1.0142 - acc: 0.6354
Epoch 18/80
1701/1701 [==============================] - 1s 575us/step - loss: 0.9821 - acc: 0.6452 0s - loss: 1.00
Epoch 19/80
1701/1701 [==============================] - 1s 569us/step - loss: 0.9456 - acc: 0.6604
Epoch 20/80
1701/1701 [==============================] - 1s 570us/step - loss: 0.9091 - acc: 0.6735
Epoch 21/80
1701/1701 [==============================] - 1s 569us/step - loss: 0.8774 - acc: 0.6822
Epoch 22/80
1701/1701 [==============================] - 1s 559us/step - loss: 0.8473 - acc: 0.6975
Epoch 23/80
1701/1701 [==============================] - 1s 552us/step - loss: 0.8175 - acc: 0.7096
Epoch 24/80
1701/1701 [==============================] - 1s 557us/step - loss: 0.7891 - acc: 0.7254 0s - loss: 0.7892
Epoch 25/80
1701/1701 [==============================] - 1s 560us/step - loss: 0.7630 - acc: 0.7428
Epoch 26/80
1701/1701 [==============================] - 1s 572us/step - loss: 0.7415 - acc: 0.7569
Epoch 27/80
1701/1701 [==============================] - 1s 576us/step - loss: 0.7174 - acc: 0.7736
Epoch 28/80
1701/1701 [==============================] - 1s 565us/step - loss: 0.6958 - acc: 0.7856
Epoch 29/80
1701/1701 [==============================] - 1s 560us/step - loss: 0.6724 - acc: 0.7974
Epoch 30/80
1701/1701 [==============================] - 1s 559us/step - loss: 0.6528 - acc: 0.8027
Epoch 31/80
1701/1701 [==============================] - 1s 558us/step - loss: 0.6371 - acc: 0.8165
Epoch 32/80
1701/1701 [==============================] - 1s 555us/step - loss: 0.6178 - acc: 0.8288
Epoch 33/80
1701/1701 [==============================] - 1s 556us/step - loss: 0.6021 - acc: 0.8356
Epoch 34/80
1701/1701 [==============================] - 1s 565us/step - loss: 0.5797 - acc: 0.8441
Epoch 35/80
1701/1701 [==============================] - 1s 571us/step - loss: 0.5644 - acc: 0.8517
Epoch 36/80
1701/1701 [==============================] - 1s 585us/step - loss: 0.5503 - acc: 0.8535
Epoch 37/80
1701/1701 [==============================] - 1s 572us/step - loss: 0.5364 - acc: 0.8549
Epoch 38/80
1701/1701 [==============================] - 1s 565us/step - loss: 0.5253 - acc: 0.8549
Epoch 39/80
1701/1701 [==============================] - 1s 574us/step - loss: 0.5173 - acc: 0.8557
Epoch 40/80
1701/1701 [==============================] - 1s 558us/step - loss: 0.5005 - acc: 0.8628
Epoch 41/80
1701/1701 [==============================] - 1s 563us/step - loss: 0.4938 - acc: 0.8680
Epoch 42/80
1701/1701 [==============================] - 1s 579us/step - loss: 0.5027 - acc: 0.8530 0s - loss: 0.4944 - ac
Epoch 43/80
1701/1701 [==============================] - 1s 569us/step - loss: 0.4963 - acc: 0.8542
Epoch 44/80
1701/1701 [==============================] - 1s 576us/step - loss: 0.5101 - acc: 0.8448
Epoch 45/80
1701/1701 [==============================] - 1s 561us/step - loss: 0.5334 - acc: 0.8353
Epoch 46/80
1701/1701 [==============================] - 1s 562us/step - loss: 0.5874 - acc: 0.8244
Epoch 47/80
1701/1701 [==============================] - 1s 568us/step - loss: 0.5625 - acc: 0.8040
Epoch 48/80
1701/1701 [==============================] - 1s 559us/step - loss: 0.5940 - acc: 0.7923
Epoch 49/80
1701/1701 [==============================] - 1s 564us/step - loss: 0.4790 - acc: 0.8673
Epoch 50/80
1701/1701 [==============================] - 1s 570us/step - loss: 0.6014 - acc: 0.8214
Epoch 51/80
1701/1701 [==============================] - 1s 576us/step - loss: 0.5616 - acc: 0.8131
Epoch 52/80
1701/1701 [==============================] - 1s 590us/step - loss: 0.5091 - acc: 0.8434
Epoch 53/80
1701/1701 [==============================] - 1s 596us/step - loss: 0.6773 - acc: 0.7911
Epoch 54/80
1701/1701 [==============================] - 1s 597us/step - loss: 0.6473 - acc: 0.8156 0s - loss: 0.6516 - acc: 0.
Epoch 55/80
1701/1701 [==============================] - 1s 642us/step - loss: 0.5204 - acc: 0.8525
Epoch 56/80
1701/1701 [==============================] - 1s 562us/step - loss: 0.5558 - acc: 0.8428
Epoch 57/80
1701/1701 [==============================] - 1s 595us/step - loss: 0.5503 - acc: 0.8294
Epoch 58/80
1701/1701 [==============================] - 1s 585us/step - loss: 0.5864 - acc: 0.8397
Epoch 59/80
1701/1701 [==============================] - 1s 566us/step - loss: 0.5329 - acc: 0.8459
Epoch 60/80
1701/1701 [==============================] - 1s 573us/step - loss: 0.5404 - acc: 0.8353
Epoch 61/80
1701/1701 [==============================] - 1s 571us/step - loss: 0.4547 - acc: 0.8690
Epoch 62/80
1701/1701 [==============================] - 1s 573us/step - loss: 0.6035 - acc: 0.8152
Epoch 63/80
1701/1701 [==============================] - 1s 572us/step - loss: 0.5321 - acc: 0.8477
Epoch 64/80
1701/1701 [==============================] - 1s 588us/step - loss: 0.4947 - acc: 0.8566
Epoch 65/80
1701/1701 [==============================] - 1s 569us/step - loss: 0.4550 - acc: 0.8717
Epoch 66/80
1701/1701 [==============================] - 1s 573us/step - loss: 0.4950 - acc: 0.8594
Epoch 67/80
1701/1701 [==============================] - 1s 573us/step - loss: 0.4761 - acc: 0.8733
Epoch 68/80
1701/1701 [==============================] - 1s 573us/step - loss: 0.5884 - acc: 0.8322
Epoch 69/80
1701/1701 [==============================] - 1s 589us/step - loss: 0.5320 - acc: 0.8333
Epoch 70/80
1701/1701 [==============================] - 1s 571us/step - loss: 0.5081 - acc: 0.8484
Epoch 71/80
1701/1701 [==============================] - 1s 573us/step - loss: 0.4239 - acc: 0.8929
Epoch 72/80
1701/1701 [==============================] - 1s 582us/step - loss: 0.5333 - acc: 0.8708
Epoch 73/80
1701/1701 [==============================] - 1s 569us/step - loss: 0.5688 - acc: 0.8295
Epoch 74/80
1701/1701 [==============================] - 1s 575us/step - loss: 0.4910 - acc: 0.8590
Epoch 75/80
1701/1701 [==============================] - 1s 599us/step - loss: 0.5799 - acc: 0.8443
Epoch 76/80
1701/1701 [==============================] - 1s 586us/step - loss: 0.4056 - acc: 0.8958
Epoch 77/80
1701/1701 [==============================] - 1s 575us/step - loss: 0.4578 - acc: 0.8774
Epoch 78/80
1701/1701 [==============================] - 1s 582us/step - loss: 0.4761 - acc: 0.8856
Epoch 79/80
1701/1701 [==============================] - 1s 574us/step - loss: 0.5715 - acc: 0.8300
Epoch 80/80
1701/1701 [==============================] - 1s 587us/step - loss: 0.4245 - acc: 0.8865

# Now Generate new data for Testing

In [18]:
test[["Total","Obtained","Percentage","Grade"]] = test[["s1","s2","s3","s4","s5"]].apply(lambda x:grade(*x), axis=1, result_type='expand')
test.head()

test_X, test_Y = test.loc[:,"s1":"s5"], pd.get_dummies(test['Grade'])
display(test_X)
display(test_Y)

    s1  s2  s3  s4  s5
0   80  88  89  87  87
1   94  89  84  84  80
2   82  98  99  99  91
3   88  94  87  89  88
4   90  89  90  88  97
..  ..  ..  ..  ..  ..
95  12   7   6  22  23
96  30  31  25  22   2
97  20  18   8  31  31
98  31  20   4  21   5
99  19   8   4  19  12

[700 rows x 5 columns]

    A  A+  B  C  D  E  Fail
0   0   1  0  0  0  0     0
1   0   1  0  0  0  0     0
2   0   1  0  0  0  0     0
3   0   1  0  0  0  0     0
4   0   1  0  0  0  0     0
.. ..  .. .. .. .. ..   ...
95  0   0  0  0  0  0     1
96  0   0  0  0  0  0     1
97  0   0  0  0  0  0     1
98  0   0  0  0  0  0     1
99  0   0  0  0  0  0     1

[700 rows x 7 columns]

# Test on Testing data

In [19]:
model.evaluate(test_X,test_Y)

22/22 [==============================] - 0s 729us/step - loss: 0.2770 - acc: 0.9586

[0.2769746482372284, 0.9585714340209961]

# prediction with model

In [20]:
Y_predict = model.predict(test_X)
Y_predict[0]

array([4.1628551e-01, 5.4387772e-01, 3.9763231e-02, 7.3528907e-05,
       3.9193350e-11, 5.7189986e-24, 3.4862844e-17], dtype=float32)

# apply post processing to get out human readable

In [21]:
np.argmax(Y_predict[0]) # return maximum value index number

1

In [22]:
display(test_Y.head(5))
display(test_Y.columns)
display(test_Y.columns[6])
# display(test_Y.columns[np.argmax(Y_predict[0])])

   A  A+  B  C  D  E  Fail
0  0   1  0  0  0  0     0
1  0   1  0  0  0  0     0
2  0   1  0  0  0  0     0
3  0   1  0  0  0  0     0
4  0   1  0  0  0  0     0

Index(['A', 'A+', 'B', 'C', 'D', 'E', 'Fail'], dtype='object')

'Fail'

In [36]:
labels = ['A', 'A+', 'B', 'C', 'D', 'E', 'Fail']
Y_predict3 = [labels[j] for j in [np.argmax(i) for i in model.predict(test_X)]]
Y_predict3

['A+',
 'A+',
 'A+',
 'A',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A+',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A+',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'B',
 'A',
 'A',
 'A',
 'A',
 'B',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'B',
 'B',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'B',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'B',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'B',
 'A',
 'A',
 'A+',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'A',
 'B',
 'A',
 'C',
 'C',
 'B',
 'B',
 'C',
 'B',
 'C',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'C',
 'B',
 'B',
 'B',
 'C',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'C',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'C',
 'B',
 'B',
 'B',
 'B',
 'C',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'B',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'D',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'D',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'C',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'E',
 'D',
 'D',
 'E',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'E',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'E',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'D',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'E',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail',
 'Fail']

In [23]:
labels = ['A', 'A+', 'B', 'C', 'D', 'E', 'Fail']
Y_predict2 = pd.DataFrame(model.predict(test_X)).apply(lambda x:labels[np.argmax(x)],axis=1)
Y_predict2

0        A+
1        A+
2        A+
3         A
4        A+
       ...
695    Fail
696    Fail
697    Fail
698    Fail
699    Fail
Length: 700, dtype: object

def fn_postprocessing(x):
    labels = ['A', 'A+', 'B', 'C', 'D', 'E', 'Fail']
    return labels[np.argmax(x)]

Y_predict1 = pd.Series(model.predict(test_X)).apply(fn_postprocessing)
Y_predict1

In [37]:
test['prediction'] = Y_predict3
test

    s1  s2  s3  s4  s5  Total  Obtained  Percentage Grade prediction
0   80  88  89  87  87    500       431        86.2    A+         A+
1   94  89  84  84  80    500       431        86.2    A+         A+
2   82  98  99  99  91    500       469        93.8    A+         A+
3   88  94  87  89  88    500       446        89.2    A+          A
4   90  89  90  88  97    500       454        90.8    A+         A+
..  ..  ..  ..  ..  ..    ...       ...         ...   ...        ...
95  12   7   6  22  23    500        70        14.0  Fail       Fail
96  30  31  25  22   2    500       110        22.0  Fail       Fail
97  20  18   8  31  31    500       108        21.6  Fail       Fail
98  31  20   4  21   5    500        81        16.2  Fail       Fail
99  19   8   4  19  12    500        62        12.4  Fail       Fail

[700 rows x 10 columns]

In [41]:
test.iloc[200:].head(60)

    s1  s2  s3  s4  s5  Total  Obtained  Percentage Grade prediction
0   61  61  61  68  63    500       314        62.8     B          C
1   61  61  60  67  64    500       313        62.6     B          C
2   67  65  62  68  62    500       324        64.8     B          B
3   62  67  64  67  63    500       323        64.6     B          B
4   62  68  67  60  60    500       317        63.4     B          C
5   63  63  65  67  62    500       320        64.0     B          B
6   67  60  68  61  68    500       324        64.8     B          C
7   65  64  66  62  60    500       317        63.4     B          B
8   65  67  64  64  61    500       321        64.2     B          B
9   63  61  68  68  65    500       325        65.0     B          B
10  62  60  60  63  63    500       308        61.6     B          B
11  63  63  60  67  67    500       320        64.0     B          B
12  63  63  62  66  62    500       316        63.2     B          B
13  67  65  68  61  60    500       321        64.2     B          C
14  61  60  66  66  61    500       314        62.8     B          B
15  63  68  62  65  66    500       324        64.8     B          B
16  66  62  68  68  63    500       327        65.4     B          B
17  60  61  68  60  61    500       310        62.0     B          C
18  62  67  67  68  64    500       328        65.6     B          B
19  64  68  63  60  67    500       322        64.4     B          B
20  66  62  68  68  68    500       332        66.4     B          B
21  66  66  67  66  67    500       332        66.4     B          B
22  64  60  66  68  66    500       324        64.8     B          B
23  67  66  65  62  64    500       324        64.8     B          B
24  61  68  65  63  67    500       324        64.8     B          B
25  62  68  67  60  63    500       320        64.0     B          B
26  63  66  66  62  60    500       317        63.4     B          B
27  65  60  65  64  65    500       319        63.8     B          B
28  65  60  61  61  62    500       309        61.8     B          B
29  67  66  65  62  68    500       328        65.6     B          B
30  63  60  64  68  68    500       323        64.6     B          C
31  61  63  64  62  65    500       315        63.0     B          B
32  61  66  66  61  67    500       321        64.2     B          B
33  60  68  61  62  64    500       315        63.0     B          B
34  60  64  66  60  62    500       312        62.4     B          B
35  61  61  66  60  65    500       313        62.6     B          B
36  66  62  63  63  64    500       318        63.6     B          B
37  61  62  61  64  61    500       309        61.8     B          B
38  64  68  64  63  61    500       320        64.0     B          B
39  63  66  63  67  67    500       326        65.2     B          B
40  62  63  60  63  65    500       313        62.6     B          B
41  67  63  66  64  66    500       326        65.2     B          B
42  64  62  63  61  67    500       317        63.4     B          B
43  61  66  66  66  67    500       326        65.2     B          B
44  65  64  67  65  65    500       326        65.2     B          B
45  68  66  64  62  62    500       322        64.4     B          B
46  64  66  62  65  68    500       325        65.0     B          B
47  65  66  66  67  65    500       329        65.8     B          B
48  60  62  67  68  66    500       323        64.6     B          B
49  68  61  63  60  65    500       317        63.4     B          B
50  61  68  63  67  64    500       323        64.6     B          B
51  66  65  64  66  60    500       321        64.2     B          B
52  67  65  64  61  68    500       325        65.0     B          B
53  68  67  65  65  60    500       325        65.0     B          B
54  67  61  63  60  63    500       314        62.8     B          B
55  64  66  65  66  60    500       321        64.2     B          B
56  65  65  63  60  62    500       315        63.0     B          B
57  62  63  63  68  63    500       319        63.8     B          B
58  64  61  64  60  63    500       312        62.4     B          B
59  67  68  60  67  64    500       326        65.2     B          B

In [28]:
test[test['Grade'] == test['prediction']]

    s1  s2  s3  s4  s5  Total  Obtained  Percentage Grade prediction
0   80  88  89  87  87    500       431        86.2    A+         A+
1   94  89  84  84  80    500       431        86.2    A+         A+
2   82  98  99  99  91    500       469        93.8    A+         A+
4   90  89  90  88  97    500       454        90.8    A+         A+
5   97  92  99  89  80    500       457        91.4    A+         A+
..  ..  ..  ..  ..  ..    ...       ...         ...   ...        ...
99  93  87  94  98  89    500       461        92.2    A+         A+
3   70  73  73  70  77    500       363        72.6     A          A
11  76  72  72  77  71    500       368        73.6     A          A
20  78  75  75  71  72    500       371        74.2     A          A
52  70  70  77  71  75    500       363        72.6     A          A

[100 rows x 10 columns]