In [8]:
import pandas as pd

In [9]:
data = pd.read_excel("data.xlsx",
                    usecols=["input","output"])
data

   input  output
0      1       2
1      2       4
2      3       6
3      4       8
4      5      10
5      6      12
6      7      14
7      8      16
8      9      18
9     10      20

In [10]:
X, Y = data.input.values , data.output.values
print(X)
print(Y)

[ 1  2  3  4  5  6  7  8  9 10]
[ 2  4  6  8 10 12 14 16 18 20]

In [11]:
training_ratio = 80

In [12]:
print("Training Ratio, get index", int(len(data)*training_ratio/100))

Training Ratio, get index 8

In [13]:
X_train = X[ :int(len(data)*training_ratio/100)]#start-7index-1
Y_train = Y[ :int(len(data)*training_ratio/100)]#start-7index-1


X_test = X[int(len(data)*training_ratio/100): ]#7index - endindex
Y_test = Y[int(len(data)*training_ratio/100): ]#7index - endindex

print("Training X:",X_train,"Y:",Y_train)
print("Testing X",X_test,"Y",Y_test)

Training X: [1 2 3 4 5 6 7 8] Y: [ 2  4  6  8 10 12 14 16]
Testing X [ 9 10] Y [18 20]

# data spliting for ML model (Ratio)
* 70% for training 30% for testing
* 80% for training 20% for testing
* 60% for training 40% for testing

* 60% for training, 20% validation, 20% for Testing

# Train and test data distribution with sklearn library

In [14]:
data.head()

   input  output
0      1       2
1      2       4
2      3       6
3      4       8
4      5      10

In [15]:
X = data['input'].values
Y = data['output'].values

X

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [16]:
Y

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
train_test_split(X,Y,
                test_size=0.3)

[array([ 8, 10,  5,  4,  1,  6,  3]),
 array([7, 2, 9]),
 array([16, 20, 10,  8,  2, 12,  6]),
 array([14,  4, 18])]

In [39]:
train_test_split(X,Y,
                test_size=0.3, shuffle=False)

[array([1, 2, 3, 4, 5, 6, 7]),
 array([ 8,  9, 10]),
 array([ 2,  4,  6,  8, 10, 12, 14]),
 array([16, 18, 20])]

In [40]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,
                                                    test_size=0.3, 
                                                    shuffle=False)

print(X_train)
print(X_test)
print(Y_train)
print(Y_test)

[1 2 3 4 5 6 7]
[ 8  9 10]
[ 2  4  6  8 10 12 14]
[16 18 20]

In [41]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,
                                                    test_size=0.3, 
                                                    shuffle=True)

print(X_train)
print(X_test)
print(Y_train)
print(Y_test)

[ 2  7  9  3  1 10  6]
[5 8 4]
[ 4 14 18  6  2 20 12]
[10 16  8]

# K Fold cros validation (Home work)

In [ ]:
my name is Qasim
Qasim is name my
my is Qasim name

In [45]:
import re

x = """
You4:40 PM
i'm audio able or not?
Syed Zaim Nazir4:41 PM
probably you can't hear us
Muhammad Fahad4:41 PM
yes
clearly
Kenneth Fahad4:41 PM
we can hear you
Madiha Obaid Obaid4:42 PM
screen share?
You4:44 PM
https://github.com/EnggQasim/PIAIC_ISLAMABAD_BATCH3/blob/master/9%20to%2012/python/class9(File%20Handling)/File%20Handling.ipynb
Syed Umair Ahmed5:20 PM
Sir 10 minutes ka break deden Namaz ka time
Syed Umair Ahmed6:17 PM
okay sir
You6:31 PM
https://github.com/EnggQasim/PGD_Batch2_Machine_Learning
Kenneth Fahad6:31 PM
33105-4159733-1
Syed Sajjad Ali Shah6:31 PM
1510120026221
Bilal Uddin6:31 PM
4220122191357
Amna Shahid6:31 PM
34603-4824275-6
MUSTAFA NADIMI6:31 PM
5440053241639
Muneeb Abdul Rauf6:31 PM
42301-8154478-7
Zoya Ansari6:31 PM
4220186465696
TARIQ JAMIL6:31 PM
4250182298545
Muhammad Fahad6:32 PM
Muhammad Fahad (CNIC 4210117498405)
Madiha Obaid Obaid6:32 PM
4220105920780
Syed Mohammad Asad Asad6:32 PM
42401-8056136-5
Syed Zaim Nazir6:32 PM
4220171026219
Rizwan Ali6:32 PM
4230174256393
Syed Umair Ahmed6:32 PM
Syed Umair Ahmed
CNIC: 41304-8519667-3
Syed Abbas Abbas6:32 PM
4200034578253
syed daniyal6:32 PM
4250189782769
Farrukh Jalil6:32 PM
Farrukh Jalil
CNIC: 42101-1397876-3
Mustafa6:32 PM
4220106546787
Nadir Ali6:32 PM
4130311530273
mustafa zaidi6:33 PM
Maria Mustafa
4200068281176
Syed Umair Ahmed6:33 PM
Nadir bhai bolo na
mcc-qjtf-rix
"""
x = x.replace('-','')

cnic = list(set(re.findall(r"\b\d{13}\b",x)))
print(len(cnic))

20

In [46]:
df = pd.DataFrame(cnic, columns=["CNIC"])
df

             CNIC
0   4200034578253
1   4220105920780
2   4210117498405
3   4130311530273
4   5440053241639
5   3460348242756
6   4200068281176
7   1510120026221
8   4250182298545
9   4230181544787
10  4220122191357
11  3310541597331
12  4220186465696
13  4130485196673
14  4220171026219
15  4240180561365
16  4210113978763
17  4250189782769
18  4230174256393
19  4220106546787

In [47]:
df.to_excel("class2Attendance.xlsx",index=False)