In [3]:
import pandas as pd

In [4]:
data = pd.read_excel("data.xlsx",
                    usecols=["input","output"])
data

   input  output
0      1       2
1      2       4
2      3       6
3      4       8
4      5      10
5      6      12
6      7      14
7      8      16
8      9      18
9     10      20

In [5]:
X, Y = data.input.values , data.output.values
print(X)
print(Y)

[ 1  2  3  4  5  6  7  8  9 10]
[ 2  4  6  8 10 12 14 16 18 20]

In [6]:
training_ratio = 80

In [7]:
print("Training Ratio, get index", int(len(data)*training_ratio/100))

Training Ratio, get index 8

In [9]:
X_train = X[ :int(len(data)*training_ratio/100)]#start-7index-1
Y_train = Y[ :int(len(data)*training_ratio/100)]#start-7index-1


X_test = X[int(len(data)*training_ratio/100): ]#7index - endindex
Y_test = Y[int(len(data)*training_ratio/100): ]#7index - endindex

print("Training X:",X_train,"Y:",Y_train)
print("Testing X",X_test,"Y",Y_test)

Training X: [1 2 3 4 5 6 7 8] Y: [ 2  4  6  8 10 12 14 16]
Testing X [ 9 10] Y [18 20]

# data spliting for ML model (Ratio)
* 70% for training 30% for testing
* 80% for training 20% for testing
* 60% for training 40% for testing

* 60% for training, 20% validation, 20% for Testing

# Train and test data distribution with sklearn library

In [10]:
data.head()

   input  output
0      1       2
1      2       4
2      3       6
3      4       8
4      5      10

In [11]:
X = data['input'].values
Y = data['output'].values

X

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [12]:
Y

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [13]:
from sklearn.model_selection import train_test_split

In [42]:
train_test_split(X,Y,
                test_size=0.3)

[array([ 8,  4,  7,  1,  5, 10,  2]),
 array([6, 3, 9]),
 array([16,  8, 14,  2, 10, 20,  4]),
 array([12,  6, 18])]

In [56]:
train_test_split(X,Y,
                test_size=0.3, shuffle=False)

[array([1, 2, 3, 4, 5, 6, 7]),
 array([ 8,  9, 10]),
 array([ 2,  4,  6,  8, 10, 12, 14]),
 array([16, 18, 20])]

In [57]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,
                                                    test_size=0.3, 
                                                    shuffle=False)

print(X_train)
print(X_test)
print(Y_train)
print(Y_test)

[1 2 3 4 5 6 7]
[ 8  9 10]
[ 2  4  6  8 10 12 14]
[16 18 20]

In [58]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,
                                                    test_size=0.3, 
                                                    shuffle=True)

print(X_train)
print(X_test)
print(Y_train)
print(Y_test)

[6 7 4 5 3 1 8]
[ 9 10  2]
[12 14  8 10  6  2 16]
[18 20  4]

# K Fold cros validation (Home work)
<img src="https://cs.calvin.edu/courses/data/202/ka37/slides/w11/w11d1-cv-review_files/figure-html/cv-anim-.gif">