<img src="https://www.ritchievink.com/img/post-35-polars-0.15/db-benchmark.png">

In [8]:
import polars as pl

q = (
    pl.scan_csv("iris.csv")
    .filter(pl.col("sepal_length") > 5)
    .groupby("species")
    .agg(pl.all().sum())
)

df = q.collect()

In [9]:
df

shape: (3, 5)
┌────────────┬────────────┬─────────────┬───────────────┬─────────────┐
│ species    ┆ sepal_leng ┆ sepal_width ┆ petal_length  ┆ petal_width │
│ ---        ┆ th         ┆ ---         ┆ ---           ┆ ---         │
│ str        ┆ ---        ┆ f64         ┆ f64           ┆ f64         │
│            ┆ f64        ┆             ┆               ┆             │
╞════════════╪════════════╪═════════════╪═══════════════╪═════════════╡
│ setosa     ┆ 116.9      ┆ 81.7        ┆ 33.2          ┆ 6.1         │
│ versicolor ┆ 281.9      ┆ 131.8       ┆ 202.9         ┆ 63.3        │
│ virginica  ┆ 324.5      ┆ 146.2       ┆ 273.1         ┆ 99.6        │
└────────────┴────────────┴─────────────┴───────────────┴─────────────┘